* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    color: #111;
    padding: 40px 60px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-buttons {
    display: flex;
    gap: 16px;
  }
  
  .nav-buttons button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60px;
    gap: 40px;
  }
  
  .left-content {
    flex: 1.2;
  }
  
  .left-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .left-content p {
    margin-bottom: 20px;
    color: #666;
  }
  
  .left-content ul {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-photo {
    width: 300px;
    height: 300px;
    background-color: #ccc;
    background-image: url("https://img.freepik.com/free-vector/isolated-young-handsome-man-different-poses-white-background-illustration_632498-859.jpg?semt=ais_hybrid");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  
  .edit-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  footer {
    margin-top: 100px;
    border-top: 1px solid #ddd;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-left {
    font-weight: 500;
  }
  
  .footer-icons {
    margin-top: 10px;
    display: flex;
    gap: 16px;
    font-size: 18px;
  }
  
  .footer-right {
    display: flex;
    gap: 80px;
  }
  
  .footer-column h4 {
    font-size: 14px;
    margin-bottom: 12px;
  }
  
  .footer-column p {
    font-size: 14px;
    margin-bottom: 6px;
    color: #555;
  }
  
  /* Responsive */
  @media (max-width: 900px) {
    .main-content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .right-content {
      align-items: flex-start;
      width: 100%;
    }
  
    .profile-photo {
      width: 300px;
      height: 400px;
      max-width: none;
    }
  
    footer {
      flex-direction: column;
      gap: 30px;
    }
  
    .footer-right {
      gap: 40px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
      }
      
      .logo {
        font-size: 24px;
      }
      
      .nav-buttons button {
        padding: 8px 16px;
        font-size: 14px;
      }
      
  }
  
  