html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app {
  /* Just a placeholder, please change this */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9vh;
  text-align: center;
}

/*  I added this to make sure that my pages can stretch out since they were skinny before */
#page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* allow child elements to stretch */
  justify-content: flex-start;
  width: 100%;
  height: 100%; /* ensure it takes up the full height of the screen */
  padding: 0; /* remove padding to avoid unnecessary spacing */
  box-sizing: border-box;
}